body {
  background-color: rgb(226 232 240);
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
}

Link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
}