/***************************/

* {   /*  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important; /* */
  scroll-behavior: smooth;
}

img { /*  */
  max-width: 100%;
  height: auto;
}

.App { /*  */
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body { /*  */
  max-width: 100%;
  overflow-x: hidden;
}

body { /*  */
  background-color: #ffffff;
}

nav { /*  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container { /*  */
  max-width: 140px;
  font-size: 1.5rem;
}

.navbar-menu-container { /*  */
  display: none;
}

.navbar-links-container a { /*  */
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 82;
  text-align: center;
}

.primary-button { /*  */
  padding: 0.9rem 1.75rem;
  background-color: #087ae6;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button1 { /*  */
  padding: 0.9rem 1.75rem;
  background-color: #087ae6;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin: 1rem;
}

.navbar-cart-icon { /*  */
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(238, 231, 231); /* change the color*/
}

.primary-button1:hover { /*  */
  background-color: rgb(238, 231, 231);
}

.navbar-menu-container svg { /*  */
  font-size: 1.5rem;
  cursor: pointer;
}

.home-banner-container { /*  */
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-bannerImage-container { /*  */
  position: absolute;
  top: -0.5px;
  right: -100px;
  z-index: -2;
  max-width: 500px; /* size */
}

.home-image-section {
  max-width: 600px;
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-heading-about { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #0a168a;
  /* line-height: 5rem; */
  max-width: 600px;
  margin-bottom: -2rem;
}


.primary-heading1 { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #0a168a;
  max-width: 600px;
  text-align: center;
  max-width: 90%;
  margin: 1.5rem 0rem;
}

.primary-heading2 { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #4c4c4c;
  max-width: 600px;
  text-align: center;
  max-width: 90%;
  margin: 0.5rem 0rem;
}

.primary-heading3 { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #4c4c4c;
  max-width: 600px;
  text-align: left;
  max-width: 100%;
  margin: 1rem 0rem;
}

.primary-text { /* */
  font-size: 16px;
  max-width: 500px;
  color: #6a6a6a;
  margin: 2.5rem 0rem;
}

.secondary-button { /* */
  padding: 1rem 2.5rem;
  background-color: #087ae6;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #050505;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg { /* */
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover { /* */
  background-color: #f7f5f2;
}

.about-section-container {  /* */
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Companies-Logos-text2 { /* */
  margin-top: 20px;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1rem);
}

.Companies-Logos-text1 { /* */
  font-size: clamp(2rem, 5vw, 1rem);
  color: #0a168a;
  margin-top: 120px;
  text-align: center;
}
/****************************************************************/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}


/***************************************************************/


.about-section-image-container { /* */
  flex: 0.4; /* size */
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/*.contact-page-wrapper h1 {
  max-width: 9000px !important;
}*/

.partner-section-container {
  margin: 1rem 5.9rem;
  margin-bottom: 3rem;
  display: flex;
  color: #3f3f3f;
}

/*******************************************************************************************/

.partner-text { /* */
  font-size: 15px;
  color: #0a168a;
  margin-top: 70px;
  text-align: center;
}

.partner-text1,
.partner-text-1-2,
.partner-s {
  margin-left: 60px;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
  max-width: 300px;
}

.partner-text3 {
  margin-left: 400px;
  font-size: 14px;
  margin-top: -210px;
  text-align: center;
  max-width: 300px;
}

.partner-text4 {
  margin-left: 760px;
  font-size: 14px;
  margin-top: -190px;
  text-align: center;
  max-width: 300px;
}


.partner-text-1-2 {
  margin-top: 8px;
  color: #0f0f0f;
}

.partner-s {
  font-size: 4rem;
  margin-top: 19px;
  color:#6a6a6a;
}

.partner-imag {
  width: 1400px; 
  height: 350px; 
  background-image: url("./assets/img/k.jpg");
  background-size:cover;
  border-radius: 5px; 
  background-position: 90%;
  margin: 120px -100px;
  color:#ffffff;
  font-size: 15px;
  text-align: left;
  font-family: "Reem Kufi", sans-serif;
  padding: 100px;
}

.n {
  margin-left: 10px;

}

/*******************************************************************************************/

.img-cont {
  position: absolute;
  bottom: -1930px;
  left: 750px;
  z-index: -3;
  max-width: 400px;
  margin-top: 10px;
}

.img-cont1 {
  position: absolute;
  bottom: -1901px;
  left: 800px;
  z-index: -3;
  max-width: 400px;
  margin-top: 0px;
}

.primary-text-contact {
  font-size: 2rem;
  max-width: 500px;
  color: #6a6a6a;
  margin: 1rem 0rem;
}

.primary-text-contact1 {
  font-size: 12px;
  max-width: 500px;
  color: #6a6a6a;
  margin: 1rem 0rem;
}

.primary-text-contact6 {
  font-size: 12px;
  max-width: 500px;
  color: #6a6a6a;
  margin-top: 1rem;

}

.contact-icons { /* */
  margin: 1.5rem;
}
.contact-icons svg { /* */
  font-size: 1rem;
  margin-right: 200px ;
  margin-top: 10px;
  color: #6a6a6a;
}

.contact-page-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin: 6rem 1rem;
}

.contact-form-container {
  max-width: 450px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: left;
  padding: 1rem;
  border-radius: 100px;
}


.contact-form-container input {
  flex: 1;
  height: 100%;
  border:#050505;
  outline:invert;
  font-size: 1rem;
}

.footer-wrapper { /* */
  margin: 0rem -5.9rem;
  display: flex;
  margin-top: 10rem;
  background-color: #3f3f3f;
}

.footer-logo-container { /* */
  max-width: 110px;
  margin: 2.5rem;
}

.footer-icons { /* */
  margin: 2.5rem;
}
.footer-icons svg { /* */
  font-size: 1rem;
  margin-right: 1.25rem;
  color:#ffffff;
}
.footer-section-one { /* */
	font-size: 1rem;
	color: #ffffff;
  /*border: 2px solid blue;*/
} 
.footer-section-two { /* */
  margin: 2.5rem;
  font-size: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns { /* */
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span { /* */
  font-size: 1rem;
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
    text-align: center;
}

.home-bannerImage-container { /* */
  max-width: 550px;
}
}

@media (max-width: 800px) { /* */
  .nav-logo-container {
    max-width: 140px;
    font-size: 1.5rem;
  }

.navbar-links-container {
  display: none;
}

.navbar-menu-container {
  display: flex;
}

.home-bannerImage-container {
  max-width: 450px;
}

.home-banner-container,
.about-section-container {
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}

.about-section-container {
  flex-direction: column;
  max-width: 400px;
}

.home-image-section,
.about-section-image-container {
  width: 100%;
  max-width: 400px;
}

.primary-heading {
  text-align: center;
  max-width: 90%;
}

.primary-text {
  text-align: center;
  max-width: 80%;
}

.home-text-section,
.about-section-text-container {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.secondary-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.footer-wrapper {
  flex-direction: column;
}

.footer-section-two {
  flex-direction: column;
  margin-top: 2rem;
}

.footer-section-columns {
  margin: 0.5rem 0rem;
}
.App {
  max-width: 95vw;
}
}

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}


/*************************************************************************************************/


